body{
    margin: 0;
}

.top-container{
    background-image: url("https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-container h1{
    color: black;
    font-size: 50px;
    font-family: sans-serif;
    letter-spacing: 2px;
}

.text{
    margin: 50px 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
    background-color: beige;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    transition: background-color .4s;
}

.navbar ul{
    display: flex;
    list-style-type: none;
}

.navbar ul li a{
    text-decoration: none;
    margin: 0 10px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar ul li a:hover{
    color: red;
}

.navbar.active{
    background-color: rgb(249, 249, 125);
}

.navbar.active ul li a{
    color: rgb(91, 85, 250);
}